In [31]:
import requests
import pandas as pd

## Interesting Keys
* director
* rt_score

## Incrementing the url
* when incremeenting the url page atttribute, it provides another page from the source. Thus, we are able to scrape more information from the website and aren't limited to the contents on one page.

In [33]:
#set page to 1
page = 1
#how I am storing the data
data_li = []

#don't stop until a condition fails
while True:
    #base url with the page variable
    url = f'http://linserv1.cims.nyu.edu:10000/films?_page={page}'
    #get the request from the url
    resp = requests.get(url)
    #if the response code is not 200...break
    if resp.status_code != 200:
        break
    #read the file using .json()
    file =resp.json()
    #if the file is empty...break
    if len(file) == 0:
         break
    #for each movie in the file...
    for data in file:
        #get director
        director = data['director']
        #get the rt score
        score = int(data["rt_score"])
        #append the director and score to the list
        data_li.append([director, score])
    #increment page
    page+=1
#load data into DF
df = pd.DataFrame(data_li)
#rename columns
df.columns = ['director', 'rt_score']
#group the data by the director and calulcate the mean of their scores and the count
df=df.groupby('director').agg(
    avg_rt_score = ('rt_score', 'mean'),
    count = ('rt_score', 'count')
)
#reorder the rows
df= df.iloc[[2, 5, 1,6, 4, 3,0 ]]
#print the df for visualization :)
df

                      avg_rt_score  count
director
Hiromasa Yonebayashi     93.500000      2
Michaël Dudok de Wit     93.000000      1
Hayao Miyazaki           92.777778      9
Yoshifumi Kondō          91.000000      1
Isao Takahata            90.000000      5
Hiroyuki Morita          89.000000      1
Gorō Miyazaki            62.000000      2